.gradiantGeneral {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , #278A5B, #126B40);
}

.gradiantMT {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , #FD5B78, #C7031E);
}

.gradiantLT {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , #93CCEA, #6093D1);
}

.gradiantMD {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , #E8B9B3, #ED989E);
}

.gradiantLD {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 65% , #BAEEF9, #6CDAE7);
}
*.label {
	-fx-text-fill: #25272C;
}
.invisible{
	-fx-opacity: 0.0;
}

.mainBoard {
	-fx-background-color: black;
	-fx-border-color: black;
	-fx-border-width: 5;
	-fx-border-insets: -5;
	-fx-border-radius: 15;
}

.ImageButton{
	-fx-background-image: url('../ressources/case.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.ImageButton:pressed{
	-fx-background-image: url('../ressources/Piece/letter.png');
}